# Limpieza de datos de Pautas Publicitarias

In [4]:
#Importamos las librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [5]:
#Leemos nuestro dataset
pp = pd.read_csv('C:\\Users\\jvazquez1\\Desktop\\proyecto_data\\Ingenias_proyecto\\datos\\pautas_publicitarias.csv', low_memory=False)

Exploración de datos

In [6]:
pp.head() #Visualizar las primeras filas del dataset

,Row type,Advertiser,Advertiser code,Agent,Agent code,Invoice number,Invoice referenced,Delivery,Product,Month,...,Discount 3 amount,Discount 4 Type,Discount 4,Discount 4 Gross/Net,Discount 4 amount,Discount amount,Discount 1 File Code,Discount 2 File Code,Discount 3 File Code,Discount 4 File Code
0,Independent deal instalment,Aceitera General Deheza S.A.,A07767,Midios S.A.,B02780,2019DC001483,NaN,NaN,NaN,2,...,0,NaN,0,NaN,0,0.0,NaN,NaN,NaN,NaN
1,Independent deal instalment,Banco De Galicia Y Buenos Aires S.A,A07798,Anunciar Publicidad S.A.,B02733,2019DC001508,NaN,NaN,Galicia Eminent,10,...,0,NaN,0,NaN,0,0.0,NaN,NaN,NaN,NaN
2,Independent deal instalment,Banco De Galicia Y Buenos Aires S.A,A07798,Anunciar Publicidad S.A.,B02733,2019IN004023,NaN,NaN,Galicia Eminent,12,...,0,NaN,0,NaN,0,0.0,NaN,NaN,NaN,NaN
3,Independent deal instalment,Banco De Galicia Y Buenos Aires S.A,A07798,Anunciar Publicidad S.A.,B02733,2019IN004024,NaN,NaN,Galicia Eminent,12,...,0,NaN,0,NaN,0,0.0,NaN,NaN,NaN,NaN
4,Independent deal instalment,Banco De Galicia Y Buenos Aires S.A,A07798,Anunciar Publicidad S.A.,B02733,2019IN004025,NaN,NaN,Galicia Eminent,12,...,0,NaN,0,NaN,0,0.0,NaN,NaN,NaN,NaN

In [7]:
pp.shape #Verificar la forma (número de filas y columnas)

(262422, 141)

In [8]:
pp.info() #Obtener información general sobre el dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262422 entries, 0 to 262421
Columns: 141 entries, Row type to Discount 4 File Code
dtypes: float64(62), int64(17), object(62)
memory usage: 282.3+ MB

In [6]:
pp.describe() #Estadísticas descriptivas básicas

,Month,Year,Invoice amount gross,Commission amount,Invoice amount net,Tax %,Contract amount,Invoice amount total,Spot count,Invoice batch number,...,Discount 3 Gross/Net,Discount 3 amount,Discount 4 Type,Discount 4,Discount 4 Gross/Net,Discount 4 amount,Discount amount,Discount 2 File Code,Discount 3 File Code,Discount 4 File Code
count,262422.000000,262422.000000,2.624220e+05,2.624220e+05,2.624220e+05,262422.0,2.624220e+05,2.624220e+05,262422.000000,262422.000000,...,0.0,262422.0,0.0,262422.0,0.0,262422.0,262422.000000,0.0,0.0,0.0
mean,7.099790,2021.083248,8.034006e+05,7.208898e+04,7.312915e+05,0.0,1.584066e+06,7.312915e+05,46.946304,12701.225008,...,NaN,0.0,NaN,0.0,NaN,0.0,20.112699,NaN,NaN,NaN
std,3.406564,1.127944,1.069148e+07,7.891809e+05,1.029711e+07,0.0,1.016167e+07,1.029711e+07,84.993841,6534.604687,...,NaN,0.0,NaN,0.0,NaN,0.0,1355.561105,NaN,NaN,NaN
min,1.000000,2019.000000,-1.200000e+09,-1.050578e+08,-1.200000e+09,0.0,0.000000e+00,-1.200000e+09,0.000000,0.000000,...,NaN,0.0,NaN,0.0,NaN,0.0,-256813.200000,NaN,NaN,NaN
25%,4.000000,2020.000000,5.633400e+02,0.000000e+00,4.947600e+02,0.0,3.854000e+03,4.947600e+02,8.000000,8043.000000,...,NaN,0.0,NaN,0.0,NaN,0.0,0.000000,NaN,NaN,NaN
50%,7.000000,2021.000000,8.872500e+03,0.000000e+00,8.268825e+03,0.0,2.788533e+04,8.268825e+03,21.000000,13521.000000,...,NaN,0.0,NaN,0.0,NaN,0.0,0.000000,NaN,NaN,NaN
75%,10.000000,2022.000000,9.156193e+04,3.506182e+03,8.014811e+04,0.0,1.274000e+05,8.014811e+04,52.000000,16367.000000,...,NaN,0.0,NaN,0.0,NaN,0.0,0.000000,NaN,NaN,NaN
max,12.000000,2023.000000,1.200000e+09,1.050578e+08,1.200000e+09,0.0,7.003851e+08,1.200000e+09,2300.000000,24683.000000,...,NaN,0.0,NaN,0.0,NaN,0.0,256813.200000,NaN,NaN,NaN

In [7]:
pp.nunique() #Contar valores únicos en cada columna

Row type                   7
Advertiser              2535
Advertiser code         2557
Agent                    786
Agent code               800
                        ...
Discount amount         1012
Discount 1 File Code       1
Discount 2 File Code       0
Discount 3 File Code       0
Discount 4 File Code       0
Length: 141, dtype: int64

In [8]:
pp.isnull().sum() #Contar valores faltantes en cada columna

Row type                     0
Advertiser                  93
Advertiser code             93
Agent                      119
Agent code                 119
                         ...
Discount amount              0
Discount 1 File Code    260745
Discount 2 File Code    262422
Discount 3 File Code    262422
Discount 4 File Code    262422
Length: 141, dtype: int64

In [9]:
pp.columns

Index(['Row type', 'Advertiser', 'Advertiser code', 'Agent', 'Agent code',
       'Invoice number', 'Invoice referenced', 'Delivery', 'Product', 'Month',
       ...
       'Discount 3 amount', 'Discount 4 Type', 'Discount 4',
       'Discount 4 Gross/Net', 'Discount 4 amount', 'Discount amount',
       'Discount 1 File Code', 'Discount 2 File Code', 'Discount 3 File Code',
       'Discount 4 File Code'],
      dtype='object', length=141)

In [10]:
pp.dtypes

Row type                 object
Advertiser               object
Advertiser code          object
Agent                    object
Agent code               object
                         ...
Discount amount         float64
Discount 1 File Code     object
Discount 2 File Code    float64
Discount 3 File Code    float64
Discount 4 File Code    float64
Length: 141, dtype: object

In [11]:
pp['Row type'].head() #Explorar columnas específicas

0    Independent deal instalment
1    Independent deal instalment
2    Independent deal instalment
3    Independent deal instalment
4    Independent deal instalment
Name: Row type, dtype: object

In [12]:
pp['Advertiser'].head() #Explorar columnas específicas

0           Aceitera General Deheza S.A.
1    Banco De Galicia Y Buenos Aires S.A
2    Banco De Galicia Y Buenos Aires S.A
3    Banco De Galicia Y Buenos Aires S.A
4    Banco De Galicia Y Buenos Aires S.A
Name: Advertiser, dtype: object

In [13]:
pp['Agent'].head() #Explorar columnas específicas

0                 Midios S.A.
1    Anunciar Publicidad S.A.
2    Anunciar Publicidad S.A.
3    Anunciar Publicidad S.A.
4    Anunciar Publicidad S.A.
Name: Agent, dtype: object

In [14]:
pp['Year'].head() #Explorar columnas específicas

0    2019
1    2019
2    2019
3    2019
4    2019
Name: Year, dtype: int64

In [15]:
pp['Invoice amount gross home currency'].head() #Explorar columnas específicas

0    10409.33
1     2577.98
2     3417.57
3     3417.57
4     3417.57
Name: Invoice amount gross home currency, dtype: float64

In [16]:
pp['Sales holding company'].head() #Explorar columnas específicas

0    Argentina
1    Argentina
2    Argentina
3    Argentina
4    Argentina
Name: Sales holding company, dtype: object

In [17]:
pp['Sales holding company'].value_counts() #Contar ocurrencias de valores en una columna

Sales holding company
Mexico                102628
Argentina              39274
Colombia               28167
Brazil                 26170
Miami                  20968
Chile                  18730
Peru                   12134
Panama                  4601
Venezuela               3519
US Hispanic             1977
Chile WM                1836
Ecuador                  560
Dominican Republic       487
Guatemala                437
Europe Intl.             385
Latin                    235
Singapore Intl.          111
Bolivia                  101
US Hispanic Intl          48
Miami Intl.               32
Domestic Digi Intl         8
Uruguay                    8
Golf Channel               4
Puerto Rico                2
Name: count, dtype: int64

In [18]:
pp['Advertiser'].value_counts() #Contar ocurrencias de valores en una columna

Advertiser
Genomma Lab Internacional                                             57460
Reckitt & Beckiser (Uk)                                               10365
PROCTER & GAMBLE MEXICO                                                4567
Supermercados Peruanos Sa                                              3474
Unilever De Argentina S.A.                                             3068
                                                                      ...
Fundacion Universitaria Del Area Andina                                   1
Dynacad S.A.S                                                             1
Infoar Comercio E Servicos Em Ar Condicionado E Informatica Eireli        1
Pritty S.A.                                                               1
Solteco S.A.S.                                                            1
Name: count, Length: 2535, dtype: int64

In [19]:
pp['Agent'].value_counts() #Contar ocurrencias de valores en una columna

Agent
Direct                                       82951
Havas Media Colombia S.A.S.                   9292
Starcom Worldwide                             7372
Productora Peruana De Informacion, S.A.C      6850
Ipg Media Brands Communications               4550
                                             ...
Schauenberg Propaganda E Publicidade Ltda        1
Television De Antioquia Teleantioquia            1
Alta Comunicacion Limitada                       1
Baru Advertising                                 1
Adtail Servicos De Publicidade Ltda              1
Name: count, Length: 786, dtype: int64

In [20]:
pp['Rep'].value_counts() #Contar ocurrencias de valores en una columna

Rep
Representante    14200
Jesse             9124
Rocio             8426
Francisco         6624
Constanza         5751
                 ...
Gwenn                7
Pablo                7
Tyler                4
Amanda               4
Katherin             1
Name: count, Length: 95, dtype: int64

In [21]:
pp['Row type'].value_counts() #Contar ocurrencias de valores en una columna

Row type
Contract transmission          139882
Consumption                    106633
Contract instalment              8074
Independent deal instalment      7622
Master deal instalment            150
Subdeal instalment                 47
Contract prebill                   14
Name: count, dtype: int64

Tratar los valores faltantes

Identificar los valores faltantes del dataset. Esto creará un DataFrame booleano en el que se indicará con True las celdas que tienen valores faltantes y False las que tienen datos.

In [22]:
# Identificar valores faltantes en el dataset
valores_faltantes = pp.isna()
print(valores_faltantes)

        Row type  Advertiser  Advertiser code  Agent  Agent code  \
0          False       False            False  False       False
1          False       False            False  False       False
2          False       False            False  False       False
3          False       False            False  False       False
4          False       False            False  False       False
...          ...         ...              ...    ...         ...
262417     False       False            False  False       False
262418     False       False            False  False       False
262419     False       False            False  False       False
262420     False       False            False  False       False
262421     False       False            False  False       False

        Invoice number  Invoice referenced  Delivery  Product  Month  ...  \
0                False                True      True     True  False  ...
1                False                True      True    False  False  ...
2                False                True      True    False  False  ...
3                False                True      True    False  False  ...
4                False                True      True    False  False  ...
...                ...                 ...       ...      ...    ...  ...
262417            True                True     False    False  False  ...
262418            True                True     False    False  False  ...
262419            True                True     False    False  False  ...
262420            True                True     False    False  False  ...
262421            True                True     False    False  False  ...

        Discount 3 amount  Discount 4 Type  Discount 4  Discount 4 Gross/Net  \
0                   False             True       False                  True
1                   False             True       False                  True
2                   False             True       False                  True
3                   False             True       False                  True
4                   False             True       False                  True
...                   ...              ...         ...                   ...
262417              False             True       False                  True
262418              False             True       False                  True
262419              False             True       False                  True
262420              False             True       False                  True
262421              False             True       False                  True

        Discount 4 amount  Discount amount  Discount 1 File Code  \
0                   False            False                  True
1                   False            False                  True
2                   False            False                  True
3                   False            False                  True
4                   False            False                  True
...                   ...              ...                   ...
262417              False            False                  True
262418              False            False                  True
262419              False            False                  True
262420              False            False                  True
262421              False            False                  True

        Discount 2 File Code  Discount 3 File Code  Discount 4 File Code
0                       True                  True                  True
1                       True                  True                  True
2                       True                  True                  True
3                       True                  True                  True
4                       True                  True                  True
...                      ...                   ...                   ...
262417                  True                  True                  True
262418                  True                  True                  True
262419                  True                  True                  True
262420                  True                  True                  True
262421                  True                  True                  True

[262422 rows x 141 columns]

Contar valores faltantes:

Para tener una idea de cuántos valores faltantes hay en cada columna, puedes usar sum() después de isna():

In [23]:
faltantes_por_columna = pp.isna().sum()
print(faltantes_por_columna)

Row type                     0
Advertiser                  93
Advertiser code             93
Agent                      119
Agent code                 119
                         ...
Discount amount              0
Discount 1 File Code    260745
Discount 2 File Code    262422
Discount 3 File Code    262422
Discount 4 File Code    262422
Length: 141, dtype: int64

In [24]:
pp = pp.dropna(subset=['Invoice amount gross home currency']) # Eliminar filas con valores faltantes en 'Columna_A'
print(pp)

                           Row type                           Advertiser  \
0       Independent deal instalment         Aceitera General Deheza S.A.
1       Independent deal instalment  Banco De Galicia Y Buenos Aires S.A
2       Independent deal instalment  Banco De Galicia Y Buenos Aires S.A
3       Independent deal instalment  Banco De Galicia Y Buenos Aires S.A
4       Independent deal instalment  Banco De Galicia Y Buenos Aires S.A
...                             ...                                  ...
262417        Contract transmission                        Global 81 SPA
262418        Contract transmission              Reckitt & Beckiser (Uk)
262419        Contract transmission              Reckitt & Beckiser (Uk)
262420        Contract transmission              Reckitt & Beckiser (Uk)
262421        Contract transmission              Reckitt & Beckiser (Uk)

       Advertiser code                        Agent Agent code Invoice number  \
0               A07767                  Midios S.A.     B02780   2019DC001483
1               A07798     Anunciar Publicidad S.A.     B02733   2019DC001508
2               A07798     Anunciar Publicidad S.A.     B02733   2019IN004023
3               A07798     Anunciar Publicidad S.A.     B02733   2019IN004024
4               A07798     Anunciar Publicidad S.A.     B02733   2019IN004025
...                ...                          ...        ...            ...
262417          A10164                       Direct     B02169            NaN
262418          A06125  Havas Media Colombia S.A.S.     B02663            NaN
262419          A06125  Havas Media Colombia S.A.S.     B02663            NaN
262420          A06125  Havas Media Colombia S.A.S.     B02663            NaN
262421          A06125  Havas Media Colombia S.A.S.     B02663            NaN

       Invoice referenced    Delivery          Product  Month  ...  \
0                     NaN         NaN              NaN      2  ...
1                     NaN         NaN  Galicia Eminent     10  ...
2                     NaN         NaN  Galicia Eminent     12  ...
3                     NaN         NaN  Galicia Eminent     12  ...
4                     NaN         NaN  Galicia Eminent     12  ...
...                   ...         ...              ...    ...  ...
262417                NaN  Commercial        GLOBAL 66      8  ...
262418                NaN  Commercial            Lysol      8  ...
262419                NaN  Commercial            Lysol      8  ...
262420                NaN  Commercial            Lysol      8  ...
262421                NaN  Commercial            Lysol      8  ...

        Discount 3 amount Discount 4 Type Discount 4 Discount 4 Gross/Net  \
0                       0             NaN          0                  NaN
1                       0             NaN          0                  NaN
2                       0             NaN          0                  NaN
3                       0             NaN          0                  NaN
4                       0             NaN          0                  NaN
...                   ...             ...        ...                  ...
262417                  0             NaN          0                  NaN
262418                  0             NaN          0                  NaN
262419                  0             NaN          0                  NaN
262420                  0             NaN          0                  NaN
262421                  0             NaN          0                  NaN

        Discount 4 amount  Discount amount  Discount 1 File Code  \
0                       0              0.0                   NaN
1                       0              0.0                   NaN
2                       0              0.0                   NaN
3                       0              0.0                   NaN
4                       0              0.0                   NaN
...                   ...              ...                   ...
262417                  0              0.0                   NaN
262418                  0              0.0                   NaN
262419                  0              0.0                   NaN
262420                  0              0.0                   NaN
262421                  0              0.0                   NaN

        Discount 2 File Code  Discount 3 File Code Discount 4 File Code
0                        NaN                   NaN                  NaN
1                        NaN                   NaN                  NaN
2                        NaN                   NaN                  NaN
3                        NaN                   NaN                  NaN
4                        NaN                   NaN                  NaN
...                      ...                   ...                  ...
262417                   NaN                   NaN                  NaN
262418                   NaN                   NaN                  NaN
262419                   NaN                   NaN                  NaN
262420                   NaN                   NaN                  NaN
262421                   NaN                   NaN                  NaN

[262422 rows x 141 columns]

In [36]:
# Eliminar múltiples columnas a la vez
columnas_a_eliminar = [
    'Invoice referenced', 'Delivery', 'Contract description', 'Tax %', 'Contract amount',
    'Package', 'Contract customer ref', 'Requires PO', 'PO number', 'SAP G/L account code',
    'Spot count', 'Payment type', 'Tax basis:', 'Agent parent', 'Advertiser parent',
    'Advertiser holding', 'Advanced invoice number', 'Rep sales team 1', 'Rep code 1',
    '1', 'Rep name 3', 'Rep sales team 4', 'Rep code 4', 'Rep name 4', 'Rep sales team 5',
    'Rep code 5', 'Rep name 5', 'Rep sales team 6', 'Rep code 6', 'Rep name 6',
    'Rep sales team 7', 'Rep code 7', 'Rep name 7', 'Rep sales team 8', 'Rep code 8',
    'Rep name 8', 'Rep sales team 9', 'Rep code 9', 'Rep name 9', 'Contract currency',
    'Contract type', 'Revenue Type', 'Deal type', 'Taxable', 'Invoice calendar',
    'Consumption', 'Invoice summary', 'Invoice territory', 'Transaction type',
    'Recipient code', 'Commission 4 Type', 'Commission 4 Gross/Net', 'Transmitted spots',
    'Transmitted revenue', 'Planned revenue', 'Commission 1', 'Commission 2', 'Commission 3',
    'Commission 4', 'Commission rep', 'Rep commission amount',
    'Consumption invoice', 'Transmitted spot value home currency',
    'Invoice amount gross master deal currency', 'Invoice amount net master deal currency',
    'Contract amount master deal currency', 'Transmitted spot value master deal currency',
    'Deal value master deal currency', 'Deal Last Closed', 'Commission 1 Type',
    'Commission 1 Gross/Net', 'Commission 2 Type', 'Commission 2 Gross/Net',
    'Commission 3 Type', 'Commission 3 Gross/Net', 'Discount 1 Type', 'Discount 1',
    'Discount 1 Gross/Net', 'Discount 1 amount', 'Discount 2 Type', 'Discount 2',
    'Discount 2 Gross/Net', 'Discount 2 amount', 'Discount 3 Type', 'Discount 3',
    'Discount 3 Gross/Net', 'Discount 3 amount', 'Discount 4 Type', 'Discount 4',
    'Discount 4 Gross/Net', 'Discount 4 amount', 'Discount 1 File Code', 'Discount 2 File Code',
    'Discount 3 File Code', 'Discount 4 File Code'
]

pp = pp.drop(columnas_a_eliminar, axis=1)

In [26]:
print(pp)

                           Row type                           Advertiser  \
0       Independent deal instalment         Aceitera General Deheza S.A.
1       Independent deal instalment  Banco De Galicia Y Buenos Aires S.A
2       Independent deal instalment  Banco De Galicia Y Buenos Aires S.A
3       Independent deal instalment  Banco De Galicia Y Buenos Aires S.A
4       Independent deal instalment  Banco De Galicia Y Buenos Aires S.A
...                             ...                                  ...
262417        Contract transmission                        Global 81 SPA
262418        Contract transmission              Reckitt & Beckiser (Uk)
262419        Contract transmission              Reckitt & Beckiser (Uk)
262420        Contract transmission              Reckitt & Beckiser (Uk)
262421        Contract transmission              Reckitt & Beckiser (Uk)

       Advertiser code                        Agent Agent code Invoice number  \
0               A07767                  Midios S.A.     B02780   2019DC001483
1               A07798     Anunciar Publicidad S.A.     B02733   2019DC001508
2               A07798     Anunciar Publicidad S.A.     B02733   2019IN004023
3               A07798     Anunciar Publicidad S.A.     B02733   2019IN004024
4               A07798     Anunciar Publicidad S.A.     B02733   2019IN004025
...                ...                          ...        ...            ...
262417          A10164                       Direct     B02169            NaN
262418          A06125  Havas Media Colombia S.A.S.     B02663            NaN
262419          A06125  Havas Media Colombia S.A.S.     B02663            NaN
262420          A06125  Havas Media Colombia S.A.S.     B02663            NaN
262421          A06125  Havas Media Colombia S.A.S.     B02663            NaN

                Product  Month  Year                            Recipient  \
0                   NaN      2  2019                          Midios S.A.
1       Galicia Eminent     10  2019             Anunciar Publicidad S.A.
2       Galicia Eminent     12  2019             Anunciar Publicidad S.A.
3       Galicia Eminent     12  2019             Anunciar Publicidad S.A.
4       Galicia Eminent     12  2019             Anunciar Publicidad S.A.
...                 ...    ...   ...                                  ...
262417        GLOBAL 66      8  2023  WarnerMedia Chile Inversiones Ltda.
262418            Lysol      8  2023          Havas Media Colombia S.A.S.
262419            Lysol      8  2023          Havas Media Colombia S.A.S.
262420            Lysol      8  2023          Havas Media Colombia S.A.S.
262421            Lysol      8  2023          Havas Media Colombia S.A.S.

        ... Deal Last Closed Invoice Type  Invoice Status  Commission 1 Type  \
0       ...              NaN        Debit        Exported                NaN
1       ...              NaN        Debit        Exported                NaN
2       ...              NaN        Debit        Exported  Agency Commission
3       ...              NaN        Debit        Exported  Agency Commission
4       ...              NaN        Debit        Exported  Agency Commission
...     ...              ...          ...             ...                ...
262417  ...              NaN          NaN             NaN                NaN
262418  ...              NaN          NaN             NaN  Agency Commission
262419  ...              NaN          NaN             NaN  Agency Commission
262420  ...              NaN          NaN             NaN  Agency Commission
262421  ...              NaN          NaN             NaN  Agency Commission

        Commission 1 Gross/Net  Commission 2 Type Commission 2 Gross/Net  \
0                          NaN   Agency Incentive                  Gross
1                          NaN   Agency Incentive                  Gross
2                        Gross                NaN                    NaN
3                        Gross                NaN                    NaN
4                        Gross                NaN                    NaN
...                        ...                ...                    ...
262417                     NaN                NaN                    NaN
262418                   Gross                NaN                    NaN
262419                   Gross                NaN                    NaN
262420                   Gross                NaN                    NaN
262421                   Gross                NaN                    NaN

       Commission 3 Type Commission 3 Gross/Net Discount amount
0                    NaN                    NaN             0.0
1                    NaN                    NaN             0.0
2                    NaN                    NaN             0.0
3                    NaN                    NaN             0.0
4                    NaN                    NaN             0.0
...                  ...                    ...             ...
262417               NaN                    NaN             0.0
262418               NaN                    NaN             0.0
262419               NaN                    NaN             0.0
262420               NaN                    NaN             0.0
262421               NaN                    NaN             0.0

[262422 rows x 89 columns]

Identificar valores atípicos

In [37]:
# Lista de valores que deseas eliminar
valores_a_eliminar = ['Consumption', 'Contract instalment', 'Contract prebill', 'Independent deal instalment', 'Master deal instalment', 'Subdeal instalment']

# Crear una condición booleana que marque las filas a eliminar
condicion_eliminar = pp['Row type'].isin(valores_a_eliminar)

# Eliminar las filas que cumplan con la condición
pp = pp[~condicion_eliminar]

In [38]:
pp

,Row type,Advertiser,Advertiser code,Agent,Agent code,Invoice number,Product,Month,Year,Recipient,...,Exchange rate,Invoice amount gross home currency,Invoice amount net home currency,Contract amount home currency,Deal value home currency,Invoice ID,Deal Status,Invoice Type,Invoice Status,Discount amount
7819,Contract transmission,S.A. La Nacion,A08009,ZenithOptimedia Group Argentina S.A,B02803,2019DC000780,Opcionales,9,2019,ZenithOptimedia Group Argentina S.A,...,59.86232,251.44,120.75,156.00,11693.50,1708.0,Approved,Debit,Exported,0.0
7822,Contract transmission,Terrafertil Mexico,A07177,Wpp Media Management,B02594,2019IN003181,Natures Heart,9,2019,Wpp Media Management,...,18.89466,8402.36,7953.41,23104.00,23104.30,4153.0,Approved,Debit,Exported,0.0
7823,Contract transmission,Terrafertil Mexico,A07177,Wpp Media Management,B02594,2019IN003181,Natures Heart,9,2019,Wpp Media Management,...,18.89466,10384.04,9829.08,23104.00,23104.30,4153.0,Approved,Debit,Exported,0.0
7824,Contract transmission,Terrafertil Mexico,A07177,Wpp Media Management,B02594,2019IN003181,Natures Heart,9,2019,Wpp Media Management,...,18.89466,4036.20,3820.03,23104.00,23104.30,4153.0,Approved,Debit,Exported,0.0
7825,Contract transmission,PARFUMERIE VERSAILLES,A07125,Wavemaker Mexico,B02611,2019DC001239,Chanel,9,2019,PARFUMERIE VERSAILLES,...,18.89466,16237.65,15369.38,29706.28,219407.28,2167.0,Approved,Debit,Exported,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262417,Contract transmission,Global 81 SPA,A10164,Direct,B02169,NaN,GLOBAL 66,8,2023,WarnerMedia Chile Inversiones Ltda.,...,875.42000,0.00,0.00,263.19,34269.27,NaN,Approved,NaN,NaN,0.0
262418,Contract transmission,Reckitt & Beckiser (Uk),A06125,Havas Media Colombia S.A.S.,B02663,NaN,Lysol,8,2023,Havas Media Colombia S.A.S.,...,4363.95000,0.00,0.00,1441.35,1244193.91,NaN,Approved,NaN,NaN,0.0
262419,Contract transmission,Reckitt & Beckiser (Uk),A06125,Havas Media Colombia S.A.S.,B02663,NaN,Lysol,8,2023,Havas Media Colombia S.A.S.,...,4363.95000,0.00,0.00,1441.35,1244193.91,NaN,Approved,NaN,NaN,0.0
262420,Contract transmission,Reckitt & Beckiser (Uk),A06125,Havas Media Colombia S.A.S.,B02663,NaN,Lysol,8,2023,Havas Media Colombia S.A.S.,...,4363.95000,0.00,0.00,1441.35,1244193.91,NaN,Approved,NaN,NaN,0.0
262421,Contract transmission,Reckitt & Beckiser (Uk),A06125,Havas Media Colombia S.A.S.,B02663,NaN,Lysol,8,2023,Havas Media Colombia S.A.S.,...,4363.95000,0.00,0.00,1441.35,1244193.91,NaN,Approved,NaN,NaN,0.0

Exportar el dataframe limpio

In [39]:
pp.to_csv('pautas_publicitarias_limpio.csv', index=False)